<!Doctype html>

    <head>
    </head>

    <body>

        <header>

            <h1>Doggy Daycare</h1>

            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/dogs">Dogs</a></li>
                <li><a href="/owners">Owners</a></li>
            </ul>

        </header>

            <%= yield%>

        <footer>

            <p>~ Footer space ~</p>

        </footer>


    </body>

</html>