<!Doctype html>

    <head>
    </head>

    <body>

    <header>

        <h1>Doggy Daycare</h1>

        <ul>
            <li>Dogs</li>
            <li>Owners</li>
        </ul>

    </header>

        <%= yield%>

    </body>
    
</html>